.bg-orange{
    background-color: #ff9900 !important;
    font-size: 12px !important;
}
.bg-blue{
    background-color: #1976d2 !important;
}
.bg-green{
    background-color: #abffe0 !important  ;
    color: #13cb4c !important;
    font-size: 12px !important;
}
.bg-yellow{
    background-color: #ffff008c !important;
}