@media only screen and (max-width: 1200px) {
  .mediaquery-table {
    font-size: 11px !important;
  }
  .mediaquery-download-icon {
    width: 20px;
  }
}
@media only screen and (max-width: 1300px) {
  .mediaquery-table {
    font-size: 11px !important;
  }
  .mediaquery-download-icon {
    width: 20px;
  }
  .mediaquery-table-width{
    width: 80% !important;
  }
}
