.no-border{
border:none !important;
border-radius:0px !important
}
.no-radius {
    border-radius: 0px !important;
}

.no-right-radius{

    border-bottom-right-radius: 0px !important;
    border-top-right-radius: 0px !important;

}


.no-left-radius{

    border-bottom-left-radius: 0px !important;
    border-top-left-radius: 0px !important;

}

